# Dependências node_modules
node_modules

# Compilação TypeScript
dist

# Arquivos de desenvolvimento
.git
.gitignore
.vscode

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Testes
coverage
.nyc_output

# Ambiente
.env
.env.local
.env.*.local
